%h2 Information
%p Linux Users Group Göteborg är startad som förening sedan våren 2005. Men sedan 1996 har LUGG varit en användarförening utan att bilda en formell förening. Vi anordnar regelbunda möten i Göteborg med omnejd.